{%extends 'base.html'%}
{% block title %}Achievements{% endblock %}
{%block achievementstab%}activetab{%endblock%}
{%block feature_usage%}
<div class='feature_usage prepend-top box'>
    <div id='close' onClick='javascript:$(".feature_usage").fadeOut();' class='right' title="Hide this Help">&nbsp;&nbsp;</div>
    <h3>Achievements tell the world what you are capable of &nbsp;:</h3>
    <ul>
        <li>An award, you won</li>
        <li>A Project, you have accomplished successfully</li>
        <li>A Thesis paper, you presented</li>
        <li>A Patent, you submitted</li>
        <li>Achievements gets you 5 points</li>
    </ul>
</div><!-- end of feature_usage -->
{%endblock%}
{%block maincontent%}
<h2 class='georgia maincontent_header blue_underline'>My Achievements</h2>
{%for achievement in achievements%}
<h3>{{achievement.title}}&nbsp;&nbsp;<a href="{%url edit_achievement achievement.id%}">Edit</a></h3>
{%endfor%}
{%endblock%}
{%block sidebar%}
<input class='btn primary' type='button' name='submit' value="Add an Achievement" onClick="javascript:document.location.href='{%url add_achievement%}'"/>
{%endblock%}
