{%extends 'singlepane_base.html'%}
{%block title%}{%if achievement%}Edit{%else%}Add{%endif%} an Achievement{%endblock%}
{%block content%}
<div id='add_achievement_benifits' class='feature_usage prepend-top box'>
<div id='close' onClick='javascript:$("#add_achievement_benifits").fadeOut();' class='right' title="Hide this Help">&nbsp;&nbsp;</div>
<h3><span class='black_stress'>Benifits </span>of Adding an Achievement:</h3>
<ul>
    <li>Makes your profile rich. Separates you from the herd</li>
    <li>Showing off all your cool projects will boost your career</li>
</ul>
</div><!-- end of add_achievement_benifits -->
<h3 class='droid content_header'>{%if achievement%}Edit{%else%}Add{%endif%} an Achievement</h3>
<div id='add_or_edit_achievement' class='span-16 column'>
    <form action="{%if achievement%}{%url edit_achievement achievement.id%}{%else%}{%url add_achievement%}{%endif%}" method='POST'>{% csrf_token %}
    <table class='form-table'>
        <tr><td class='rightalign'><label for="id_title">Short Title of your achievement :</label></td><td class='leftalign'>{{form.title}}<span class='help_text'>(<span class='required'>Required</span>. Max of {{form.fields.title.max_length}} characters)</span><br/>{{form.title.errors}}</td></tr>
        <tr><td class='rightalign'><label for="id_description">Full Description :</label></td><td class='leftalign'>{{form.description}}<br/><span class='help_text'>(<span class='required'>Required</span>. Max of {{form.fields.description.max_length}} characters)</span>&nbsp;&nbsp;<span id='status_meter_id' class='small_text'></span><br/>{{form.description.errors}}</td></tr>
        <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="{%if achievement%}Save{%else%}Submit{%endif%} Achievement"/></td></tr>
    </table>
    </form>
</div>
<div id='previous_achievements' class='widget push-1 span-6 column last'>
{%if achievement%}
    <h4 class='droid widget_header'>Your previous achievements</h4>
    {%if previous_achievements%}
        <ul>
        {%for pachievement in previous_achievements%}
        <li>{{pachievement.title|truncatewords:3}}<a href="{%url edit_achievement pachievement.id%}" target='_blank'>Edit</a></li>
        {%endfor%}
        </ul>
    {%else%}
        Nothing Achieved Yet!
    {%endif%}
{%else%}
    <h4 class='droid widget_header'>Your previous achievements</h4>
    {%if achievements%}
        <ul>
        {%for achievement in achievements%}
        <li>{{achievement.title|truncatewords:3}}<a href="{%url edit_achievement achievement.id%}" target='_blank'>Edit</a></li>
        {%endfor%}
        </ul>
    {%else%}
        Nothing Achieved Yet!
    {%endif%}
{%endif%}
</div>
{%endblock%}
{%block extrajs%}
<script type='text/javascript'>
document.forms[0].title.focus();
$('#id_description').keyup(function(e){
    charCounter({{form.fields.description.max_length}}, 'id_description', 'status_meter_id');
});
</script>
{%endblock%}