{%extends 'doublepane_base.html'%}
{%block title%}{%if achievement%}Edit{%else%}Add{%endif%} an Achievement{%endblock%}
{%block feature_usage%}
<h3>Benifits of Adding an Achievement:</h3>
<ul>
    <li>Makes your profile rich. Separates you from the herd</li>
    <li>Showing off all your cool projects will boost your career</li>
</ul>
{%endblock%}
{%block maincontent%}
<h3 class='georgia maincontent_header blue_underline'>{%if achievement%}Edit{%else%}Add{%endif%} an Achievement</h3>
<form action="{%if achievement%}{%url edit_achievement achievement.id%}{%else%}{%url add_achievement%}{%endif%}" method='POST'>{% csrf_token %}
<table class='form-table'>
    <tr><td class='rightalign'><label for="id_title">Short Title of your achievement :</label></td><td class='leftalign'>{{form.title}}<span class='help_text'>(<span class='required'>Required</span>. Max of {{form.fields.title.max_length}} characters)</span><br/>{{form.title.errors}}</td></tr>
    <tr><td class='rightalign'><label for="id_description">Full Description :</label></td><td class='leftalign'>{{form.description}}<br/><span class='help_text'>(<span class='required'>Required</span>. Max of {{form.fields.description.max_length}} characters)</span>&nbsp;&nbsp;<span id='status_meter_id' class='small_text'></span><br/>{{form.description.errors}}</td></tr>
    <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="{%if achievement%}Save{%else%}Submit{%endif%} Achievement"/></td></tr>
</table>
</form>
{%endblock%}
{%block sidebar%}
{%if achievement%}
    <h4 class='georgia widget_header'>Your previous achievements</h4>
    {%if previous_achievements%}
        <ul>
        {%for pachievement in previous_achievements%}
        <li>{{pachievement.title|truncatewords:3}}<a href="{%url edit_achievement pachievement.id%}" target='_blank'>Edit</a></li>
        {%endfor%}
        </ul>
    {%else%}
        No Other Achievements Submitted Yet!
    {%endif%}
{%else%}
    <h4 class='georgia widget_header'>Your previous achievements</h4>
    {%if achievements%}
        <ul>
        {%for achievement in achievements%}
        <li>{{achievement.title|truncatewords:3}}<a href="{%url edit_achievement achievement.id%}" target='_blank'>Edit</a></li>
        {%endfor%}
        </ul>
    {%else%}
        No Achievements Submitted Yet!
    {%endif%}
{%endif%}
{%endblock%}
{%block extrajs%}
<script type='text/javascript'>
document.forms[0].title.focus();
$('#id_description').keyup(function(e){
    charCounter({{form.fields.description.max_length}}, 'id_description', 'status_meter_id');
});
</script>
{%endblock%}