{%extends 'base.html'%}
{%block title%}All Users{%endblock%}
{%block content%}
{%load users_tags%}
<h2 class="georgia maincontent_header">List of All Users</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined on</th>
    </tr>
    {%for user in users.object_list%}
        <tr><td>{%render_user_domain user %}</td><td>{{user.user__email}}</td><td>{{user.created_on|date:"dS M Y g:i A"}}</td></tr>
	{%empty%}
	   <tr><td colspan="3">No Users as of now</td></tr>
	{%endfor%}
</table>
{%endblock%}