<h2 class='georgia maincontent_header centeralign'>Hi {{userprofile.name|title}}, This is your Dashboard</h2>
<div id='notepad_widget' class='dashboard_widget prepend-4 column span-8 append-bottom append-1'>
    <div class='emboss icon left'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url notepad%}">Notepad</a></h3>
       <ul>
           <li>Store anything quickly. Like assignments or articles</li>
           <li>Notes can be made private</li>
           <li>Share your notes online. Let anybody discover your writing skills</li>
       </ul>
    </div><!-- end of notepad_widget_content -->
</div><!-- end of notepad_widget -->
<div id='achievements_widget' class='dashboard_widget column span-8 append-bottom last'>
    <div class='emboss icon left'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url achievements%}">Achievements</a></h3>
       <ul>
           <li>This this this</li>
           <li>This this this</li>
           <li>This this this</li>
       </ul>
    </div><!-- end of achievements_widget_content -->
</div><!-- end of achievements_widget -->
<div class='clearfix'></div>
<div id='questions_widget' class='dashboard_widget prepend-4 column span-8 append-bottom append-1'>
    <div class='icon left emboss'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url ask_question%}">Ask a Question</a></h3>
       <ul>
           <li>This this this</li>
           <li>This this this</li>
           <li>This this this</li>
       </ul>
    </div><!-- end of questions_widget_content -->
</div><!-- end of questions_widget -->
<div id='answers_widget' class='dashboard_widget column span-8 append-bottom last'>
    <div class='icon left emboss'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url all_questions%}">Answer a Question</a></h3>
       <ul>
           <li>This this this</li>
           <li>This this this</li>
           <li>This this this</li>
       </ul>
    </div><!-- end of answers_widget_content -->
</div><!-- end of answers_widget -->
<div class='clearfix'></div>
<div id='webresume_widget' class='dashboard_widget prepend-4 column span-8 append-bottom append-1'>
    <div class='icon left emboss'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url user_profile userprofile.id userprofile.slug%}">Web Resume</a></h3>
       <ul>
           <li>This this this</li>
           <li>This this this</li>
           <li>This this this</li>
       </ul>
    </div><!-- end of webresume_widget_content -->
</div><!-- end of webresume_widget -->
<div id='settings_widget' class='dashboard_widget column span-8 append-bottom last'>
    <div class='icon left emboss'></div>
    <div class='content emboss'>
       <h3 class='header'><a href="{%url settings%}">Account Settings</a></h3>
       <ul>
           <li>This this this</li>
           <li>This this this</li>
           <li>This this this</li>
       </ul>
    </div><!-- end of settings_widget_content -->
</div><!-- end of settings_widget -->
<div class='clearfix'></div>