<h2 class='droid'>Hi {{userprofile.name|title}}, This is your Dashboard</h2>
<ul id='dashboard_links'><!-- Tomorrow these individual links could be turning to individual widgets -->
    <li><h3><a href="{%url notepad%}">Notepad</a></h3></li>
    <li><h3><a href="{%url user_profile userprofile.id userprofile.slug%}">Public Profile</a></h3></li>
    <li><h3><a href="{%url ask_question%}">Ask a Question ?</a></h3></li>
    <li><h3><a href="{%url all_questions%}">Answer a Question ?</a></h3></li>
    <li><h3><a href="{%url settings%}">Account Settings</a></h3></li>
</ul>
<a></a>