{%extends 'singlepane_base.html'%}
{% block title %}Forgot your Password ?{% endblock %}
{%block content%}
<div id='forgot_password' class='prepend-4 column span-7 border'>
    <h2 class='droid content_header blue_underline'>Forgot Password ?</h2>
    <form action="{%url forgot_password %}" method='POST'>{% csrf_token %}
    <table class='form-table'>
        <tr><td class='rightalign'><label for="id_email">Email :</label></td><td class='leftalign'>{{form.email}}<span class='help_text'>(<span class='required'>Required</span>)</span><br/>{{form.email.errors}}</td></tr>
        <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="Reset my Password"/></td></tr>
    </table>
    </form>
</div>
<div id="explain_recover_password" class='column span-10 last box'>
    <h4 class='droid'>Dont worry! You can reset it</h4>
    We will send an email immediately which will contain a link to reset your password. <br/>Its that easy.
</div>
{%endblock%}
{%block extrajs%}<script type='text/javascript'>document.forms[0].email.focus();</script>{%endblock%}