{%extends 'singlepane_base.html'%}
{% block title %}Login with existing account details{% endblock %}
{%block content%}
<div class='prepend-6'>
	<form action="{%url login%}" method='POST'>{% csrf_token %}
	<input type='hidden' name='next' value="{{next}}"/>
	<table class='form-table'>
	    <tr><td class='rightalign'><label for="id_email">Email :</label></td><td class='leftalign'>{{form.email}}<span class='help_text'>(<span class='required'>Required</span>)</span><br/>{{form.email.errors}}</td></tr>
	    <tr><td class='rightalign'><label for="id_password">Password :</label></td><td class='leftalign'>{{form.password}}<span class='help_text'>(<span class='required'>Required</span>)</span><br/>{{form.password.errors}}</td></tr>
	    <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="Log in"/></td></tr>
	</table>
	</form>
</div>
{%endblock%}
{%block extrajs%}<script type='text/javascript'>document.forms[0].email.focus();</script>{%endblock%}