{%extends 'doublepane_base.html'%}
{% block title %}Notepad{% endblock %}
{%block notepadtab%}activetab{%endblock%}
{%block feature_usage%}
<h3>Notepad is useful to you in these ways &nbsp;:</h3>
<ul>
    <li>Save something, for further reference and can keep it private also.</li>
    {%if userprofile.is_student%}
    <li>Store your class assignments online. Also you can share your work with the world with this</li>
    {%endif%}    
    <li>Write an article about an interesting topic and share it with your friends, collegues, world</li>
    <li>Show off your writing skills</li>
    <li>Each Note added will get you 3 points</li>
</ul>
{%endblock%}
{%block maincontent%}
<h3 class='georgia maincontent_header blue_underline'>Want to save something quickly ?</h3>
<form action='{%if note%}{%url edit_note note_id=note.id%}{%else%}{%url notepad%}{%endif%}' method="POST">{% csrf_token %}
<table>
    <tr><td><label for="id_name">Name:</label></td><td>{{form.name}}<span class='help_text'>(<span class='required'>Required</span>. Max of 30</span> characters)<br/>{{form.name.errors}}</td></tr>
    <tr><td><label for="id_name">Short Description:</label></td><td>{{form.short_description}}<span class='help_text'>(<span class='optional'>Optional</span>. Max of 50</span> characters)<br/>{{form.short_description.errors}}</td></tr>
    <tr><td><label for="id_name">Content:</label></td><td>{{form.content}}<span class='help_text'><br/>(<span class='required'>Required</span>. Max of 7000</span> characters)</span>&nbsp;&nbsp;<span id='status_meter_id' class='small_text'><br/>{{form.content.errors}}</td></tr>
    <tr><td><label for="id_public">&nbsp;</label></td><td>{{form.public}}Make the Note Public? (Everyone can see this)</td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" value="Save this"/></td></tr>
</table>
</form>
{% endblock %}
{%block sidebar%}
<div class='widget'>
<h4 class='widget_header centeralign'>My Saved Notes</h4>
<table>
{%for note in all_notes%}
<tr>
    <td>{%if note.public%}<span class='tooltip public_note' title="This is Public note">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{%else%}<span class='tooltip private_note' title="This is Private note">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{%endif%}</td>
    <td><a class="file_link" target='_blank' href="{%url show_note note_id=note.id%}">{{note.name|truncatewords:2|capfirst}}</a>&nbsp;&nbsp;<a title="Edit Note" href="{%url edit_note note_id=note.id%}">Edit</a></td>
</tr>
{%empty%}
<tr><td colspan="2">You have not saved any notes yet!</td></tr>
{%endfor%}
</table>
</div><!-- end of widget -->
{%endblock%}
{%block extrajs%}
<script type='text/javascript'>
document.forms[0].name.focus();
$('#id_content').keyup(function(e){
    charCounter({{form.fields.content.max_length}}, 'id_content', 'status_meter_id');
});
</script>
{%endblock%}
