{%extends 'singlepane_base.html'%}
{% block title %}Notepad{% endblock %}
{%block notepadtab%}activetab{%endblock%}
{%block content%}
<div id='notepad_usage' class='feature_usage info'>
<h3><span class='black_stress'>Notepad</span> is quite useful to you in these ways &nbsp;:</h3>
<ul>
    <li>You can quickly <span class='black_stress'>save something</span>, and keep it <span class='black_stress'>private</span> also.</li>
    {%if userprofile.is_student%}
    <li>You can store your class <span class='black_stress'>assignments</span> online. Also you can <span class='black_stress'>share</span> your work with the world with this</li>
    {%endif%}    
    <li>You can <span class='black_stress'>write an article about</span> an interesting topic and share it with your friends, collegues, world</li>
</ul>
</div>
<div id='notepad' class="column span-18">
<h3 class='droid'>Want to save something quickly ?</h3>
<form action='{%url notepad%}' method="POST">{% csrf_token %}
    <table>
        <tr><td><label for="id_name">Name:</label></td><td>{{form.name}}<span class='help_text'>(<span class='required'>Required</span>. Max of <span class='black_stress'>30</span> characters)</span><br/>{{form.name.errors}}</td></tr>
        <tr><td><label for="id_name">Short Description:</label></td><td>{{form.short_description}}<span class='help_text'>(<span class='optional'>Optional</span>. Max of <span class='black_stress'>50</span> characters)</span><br/>{{form.short_description.errors}}</td></tr>
        <tr><td><label for="id_name">Content:</label></td><td>{{form.content}}<span class='help_text'><br/>(<span class='required'>Required</span>. Max of <span class='black_stress'>7000</span> characters)</span><br/>{{form.content.errors}}</td></tr>
        <tr><td><label for="id_public">&nbsp;</label></td><td>{{form.public}}Make the Note Public? (Everyone can see this)</td></tr>
        <tr><td>&nbsp;</td><td><input type="submit" value="Save this"/></td></tr>
    </table>
   </form>
</div>
<div id='uploaded_files' class="widget column span-5 last">
<h4 class='widget_header centeralign'>My Saved Notes</h4>
<table>
{%for note in all_notes%}
<tr>
    <td>{%if note.public%}<img src="/site_media/img/public.png" title="This is public note"/>{%else%}<img title="This is private note" src="/site_media/img/private.png"/>{%endif%}</td>
    <td><a class="file_link" target='_blank' href="{%url show_note note_id=note.id%}">{{note.name|capfirst}}</a></td>
</tr>
{%empty%}
<tr><td colspan="2">You have not saved any notes yet!</td></tr>
{%endfor%}
</table>
</div>
{%endblock%}