{%extends 'singlepane_base.html'%}
{% block title %}Notepad{% endblock %}
{%block content%}
<div id='notepad' class="column span-18">
<h3 class='droid'>Want to save something quickly ?</h3>
<form action='{%url notepad%}' method="POST">{% csrf_token %}
    <table>
        <tr><td><label for="id_name">Name:</label></td><td>{{form.name}}<span class='help_text'>(Max of 30 characters)</span><br/>{{form.name.errors}}</td></tr>
        <tr><td><label for="id_name">Short Description:</label></td><td>{{form.short_description}}<span class='help_text'>(Max of 50 characters)</span><br/>{{form.short_description.errors}}</td></tr>
        <tr><td><label for="id_name">Content:</label></td><td>{{form.content}}<span class='help_text'>(Max of 7000 characters)</span><br/>{{form.content.errors}}</td></tr>
        <tr><td><label for="id_public">Public:</label></td><td>{{form.public}}</td></tr>
        <tr><td>&nbsp;</td><td><input type="submit" value="Save this"/></td></tr>
    </table>
   </form>
</div>
<div id='uploaded_files' class="widget column span-5 last">
<h4 class='widget_header centeralign'>All your uploaded files</h4>
<ul>
{%for filename in public_uploaded_files%}
<li><a class='file_link' target='_blank' href="{%url file_content_view_link filename=filename%}">{{filename}}</a></li>
{%empty%}
<li>You havenot uploaded any files yet!</li>
{%endfor%}
</ul>
</div>
{%endblock%}