{%for tag in visible_tags%}
<a class="tag" target="_blank" title="Browse All {{tag|title}} Questions" href="{%absurl tagged_questions tag_name=tag%}">{{tag}}</a>&nbsp;&nbsp;
{%endfor%}
{%if hidden_tags%}
<span id="hidden_tags" class='hide'>
{%for tag in hidden_tags%}
<a class="tag" target="_blank" title="Browse All {{tag|title}} Questions" href="{%absurl tagged_questions tag_name=tag%}">{{tag}}</a>&nbsp;&nbsp;
{%endfor%}
</span>
<span class='tooltip spanlink underline' title="Click to view all my Interests" id='toggle_tags' onClick='javascript:$("#hidden_tags").toggle();$(this).hide();'>
...(more)
</span>
{%endif%}
