{%extends 'singlepane_base.html'%}
{% block title %}Registration{% endblock %}
{%block content%}
<div style="text-align:center;min-height:200px;padding-top:4em;">
<input class='big_button' type="button" value="Are you a Student ?" onClick="javascript:document.location.href='{%url student_register%}';">
<input class='big_button' type="button" value="Are you a Professor ?" onClick="javascript:document.location.href='{%url professor_register%}';">
<input class='big_button' type="button" value="Are you an Employee ?" onClick="javascript:document.location.href='{%url employee_register%}';">
</div>
{%endblock%}