{%extends 'base.html'%}
{% block title %}Please reset your password{% endblock %}
{%block content%}
<div id='forgot_password' class='prepend-3 column span8 border'>
    <h2 class='georgia maincontent_header blue_underline'>Enter your New Password</h2>
    <form action="{%url reset_my_password %}" method='POST'>{% csrf_token %}
    <input type='hidden' value='{{email}}' name='email' id='id_email'/>
    <table class='form-table'>
        <tr><td class='rightalign'><label for="id_password">New Password :</label></td><td class='leftalign'>{{form.password}}<span class='help_text'>(<span class='required'>Required</span>)</span><br/>{{form.password.errors}}</td></tr>
        <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="Save my new Password"/></td></tr>
    </table>
    </form>
</div>
<div id="explain_recover_password" class='column span10 last box'>
    <h4 class='georgia'>You are almost done!</h4>
    Once you save this new password, you will be automatically logged-in. Enjoy!
</div>
{%endblock%}
{%block extrajs%}<script type='text/javascript'>document.forms[0].password.focus();</script>{%endblock%}