{%extends 'singlepane_base.html'%}
{%block title%}Account Settings{%endblock%}
{%block content%}
	<div id='personal_settings'>
		{%include 'personal_settings.html'%}
	</div><!-- end of personal_settings -->
	<div id="acad_settings">
		{%include 'acad_settings.html'%}				
	</div><!-- end of acad_settings -->
	<div id="workinfo_settings">
		{%if workinfo_form%}
			{%include 'workinfo_settings.html'%}
		{%else%}
			<input type='button' value="Did you get a job recently ? Please update your Work Place details!" onClick="javascript:return get_workinfo_settings();"/>
		{%endif%}
	</div><!-- end of workinfo_settings -->
{%endblock%}
{%block extrajs%}
<script type='text/javascript'>document.forms[0].name.focus();</script>
<script type='text/javascript' src="/site_media/js/users.js"></script>
{%endblock%}