{%extends 'singlepane_base.html'%}
{%block title%}Account Settings{%endblock%}
{%block content%}
	<div id='personal_settings' class='settings'>
		{%include 'personal_settings.html'%}
	</div><!-- end of personal_settings -->
	<div id="acad_settings" class='settings'>
		{%include 'acad_settings.html'%}				
	</div><!-- end of acad_settings -->
	<div id="workinfo_settings" class='settings'>
		{%if workinfo_form%}
			{%include 'workinfo_settings.html'%}
		{%else%}
			<input type='button' value="Did you get a job recently ? Please update your Work Place details!" onClick="javascript:return get_workinfo_settings();"/>
		{%endif%}
	</div><!-- end of workinfo_settings -->
{%endblock%}
{%block extrajs%}
<script type='text/javascript' src="/site_media/js/users.js"></script>
<script type='text/javascript' src="/site_media/js/jquery-ui/js/jquery-ui-1.8.10.custom.min.js"></script>
<script type='text/javascript'>
$(document).ready(function(){
    $('#id_college').autocomplete({
        dataType:'json',
        source:'{%url ajax_colleges_list%}',
        minLength:1,
    });
    $('#id_workplace').autocomplete({
        dataType:'json',
        source:'{%url ajax_companies_list%}',
        minLength:1,
    });
    {%if userprofile.can_update_slug%}document.forms[0].slug.focus();{%else%}document.forms[0].name.focus();{%endif%}
    $('#id_aggregate').tipsy({trigger:'focus', title:'title', gravity:'n'});    
});
</script>
{%endblock%}
{%block extrastyle%}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/js/jquery-ui/css/flick/jquery-ui-1.8.10.custom.css" />
{%endblock%}