{%extends 'singlepane_base.html'%}
{% block title %}{{userprofile.name|title}} - Profile Information{% endblock %}
{%block webresumetab%}activetab{%endblock%}
{%block content%}
<div id='webresume_usage' class='feature_usage prepend-top box'>
<div id='close' onClick='javascript:$("#webresume_usage").fadeOut();' class='right' title="Hide this Help">&nbsp;&nbsp;</div>
<h3>Gone are the days where you prepare 2 page word resumes &nbsp;:</h3>
<ul>
    <li>Web Resume aggregates all your activity from the system and Helps any Company/Industry person in getting a Multi-Dimensional view of your skills.</li>
    {%if userprofile.is_student%}
    <li>If you are a final year Student, A Recruiter/Company person can easily select you as he/she has ready view of your accomplishments</li>
    {%endif%}    
    <li>As this is an Online Resume, You can pass it along to any body at zero cost and Your Resume/CV is searchable Globally</li>
</ul>
</div><!-- end of webresume_usage -->
<input id='contact_button' class="right" type='button' onClick="javascript:document.location.href='{%url contactuser userprofile.id%}';" value="Contact {{userprofile.name|title}}"/>
<h2 id='user_profile_header' class='droid content_header'>{{userprofile.name|title}}</h2>
{%load users_tags%}
<div id='personal_details'>
<ul>
    <li>
        Can be reached at: {{userprofile.user.email|emailify}}&nbsp;&nbsp;|&nbsp;&nbsp;<a class='domain' target='_blank' href='{{userprofile.domain|domainify}}'>{{userprofile.domain|domainify}}</a>
    </li>
    <li>
        {%if userprofile.is_student%}
            {%with userprofile.acad_details as acad_details%}
                Studying {%if acad_details.0%}{{acad_details.0}} (&nbsp;{{acad_details.2}} - {{acad_details.3}} Batch&nbsp;){%endif%} in {%autoescape off%}{{acad_details.1.id|college_url}}{%endautoescape%} College.</td>
            {%endwith%}
        {%else%}
            {%with userprofile.work_details as work_details%}
                {%if work_details.2%}Has {{work_details.2}} Years of Experience, {%endif%}Currently works at {%autoescape off%}{{work_details.0.id|workplace_url}}{%endautoescape%}{%if work_details.1%}, as {{work_details.1}}{%endif%}
            {%endwith%}
        {%endif%}
    </li>
    {%with userprofile.interested_tags as interested_tags%}
    {%if interested_tags%}
    <li>
        Has strong interest in {%for tag in interested_tags%}<a class="tag" target="_blank" title="Browse All {{tag|title}} Questions" href="{%url tagged_questions tag_name=tag%}">{{tag}}</a>&nbsp;&nbsp;{%endfor%}
    </li>
    {%endif%}
    {%endwith%}
    {%with userprofile.helped_persons as helped_persons%}
    {%if helped_persons%}
    <li>
        Helped {%for person in helped_persons%}<a href="{%url user_profile person.0 person.1%}">{{person.2|title}}</a>&nbsp;{%endfor%}
    </li>
    {%endif%}
    {%endwith%}
</ul>
</div><!-- end of personal_details -->
<div id='saved_notes' class='widget webresume_section'>
	<h4 class='droid widget_header leftalign'>Saved Notes{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%url notepad%}">Add Note ?</a></span>{%endif%}</h4>
	<ul>
	{%for note in public_notes%}
	<li><a class='file_link' target='_blank' href="{%url show_note note_id=note.id%}">{{note.name|capfirst}}</a></li>
	{%empty%}
	<li>{{userprofile.name|title}} has not saved any notes yet!</li>
	{%endfor%}
	</ul>
</div><!-- end of saved_notes -->
<div id='achievements' class='widget webresume_section'>
<h4 class='droid widget_header leftalign'>Achievements{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%url add_achievement%}">Add Achievement ?</a></span>{%endif%}</h4>
{%if achievements%}
    <ul>
    {%for achievement in achievements%}
    <li>{{achievement.title|title}}</h3></li>
    {%endfor%}
    </ul>
{%else%}
    <ul><li>{{userprofile.name|title}} didn't have any achievements yet!</li></ul>
{%endif%}
</div><!-- end of achievements -->
<div id='asked_questions' class='widget webresume_section'>
<h4 class='droid widget_header leftalign'>Asked Questions{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%url ask_question%}">Ask Question ?</a></span>{%endif%}</h4>
{%if asked_questions%}
	<ul>
	{%for question in asked_questions%}
	<li><h3><a href="{%url question question.id question.slug%}" target='_blank'>{{question.title|title}}</a></h3></li>
	{%endfor%}
	</ul>
{%else%}
	<ul><li>{{userprofile.name|title}} didn't ask any questions yet!</li></ul>
{%endif%}
</div><!-- end of asked_questions -->
<div id='answered_questions' class='widget webresume_section'>
<h4 class='droid widget_header leftalign'>Answers Given For{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%url all_questions%}">Give Answer ?</a></span>{%endif%}</h4>
{%if answered_questions%}
	<ul>
	{%for question in answered_questions%}
	<li><h4><a href="{%url question question.id question.slug%}" target='_blank'>{{question.title|title}}</a></h4></li>
	{%endfor%}
	</ul>
{%else%}
	<ul><li>{{userprofile.name|title}} didn't answer for any questions yet!</li></ul>
{%endif%}
</div><!-- end of answered_questions -->
{%endblock%}