{%extends 'singlepane_base.html'%}
{% block title %}{%if can_edit%}Your{%else%}{{userprofile.name|title}}{%endif%} - Profile Information{% endblock %}
{%block webresumetab%}{%if can_edit%}activetab{%endif%}{%endblock%}
{%block content%}
<input id='contact_button' class="right" type='button' onClick="javascript:document.location.href='{%absurl contactuser userprofile.id%}';" value="Contact {{userprofile.name|title}}"/>
<h2 id='user_profile_header' class='droid maincontent_header'>{{userprofile.name|title}}&nbsp;&nbsp;<span class='orange'>{&nbsp;{{userprofile.score}}&nbsp;}</span></h2>
{%load users_tags%}
<div id='personal_details'>
<ul class='webresume_section emboss'>
    <li>
        Website: <a href='{{userprofile.domain|domainify}}'>{{userprofile.domain|domainify}}</a>
    </li>
    {%with userprofile.acad_details as acad_details%}
        {%if acad_details.4%}<li>Secured an Aggregate Score of <span class="special_blue">{{acad_details.4}}</span></li>{%endif%}
        {%if acad_details.1%}
            <li>
	        {%if userprofile.is_student%}Studying{%else%}Studied{%endif%}
	        {%if acad_details.0 != '-'%} {{acad_details.0}}{%endif%} in {%autoescape off%}{{acad_details.1.id|college_url}}{%endautoescape%} College {%if acad_details.2 and acad_details.3%}(&nbsp;{{acad_details.2}} - {{acad_details.3}} Batch&nbsp;){%endif%}.
	        </li>
        {%endif%}
    {%endwith%}
    {%with userprofile.work_details as work_details%}
        {%if work_details.0%}
            <li>{%if work_details.2%}Has {{work_details.2}} Years of Experience, {%endif%}Currently works at {%autoescape off%}{{work_details.0|workplace_url}}{%endautoescape%}{%if work_details.1%}, as {{work_details.1}}{%endif%}</li>
        {%endif%}
    {%endwith%}
    {%with userprofile.interested_tags as interested_tags%}
    {%if interested_tags%}
    <li>
        Has strong interest in {%render_user_tags interested_tags%}
    </li>
    {%endif%}
    {%endwith%}
    {%with userprofile.helped_persons as helped_persons%}
    {%if helped_persons%}
    <li>
        Helped {%for person in helped_persons%}{%render_user_domain person %}&nbsp;{%endfor%}
    </li>
    {%endif%}
    {%endwith%}
</ul>
</div><!-- end of personal_details -->
<div id='finished_tasks'>
    <h3 class='georgia leftalign'>Finished Tasks&nbsp;&nbsp;<span class="tooltip help" title="These tasks show that I am an accomplisher">&nbsp;&nbsp;&nbsp;&nbsp;</span>{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%absurl all_tasks%}">Pick up a Task ?</a></span>{%endif%}</h3>
    <ol class='webresume_section emboss'>
    {%for task in userprofile.finished_tasks%}
    <li>
        <a target='_blank' href="">{{task.title|capfirst}}</a>&nbsp;&nbsp;<span class="spanlink tooltip" title="View Full Content" onClick="javascript:$('#{{task.id}}_task_desc').slideToggle();">[+]</span>
        <div class='hide full_description' id="{{task.id}}_task_desc">{{task.description}}</div>
    </li>
    {%empty%}
    <li>{%if can_edit%}You haven't done any tasks yet! Want to pick up a task ? {%else%}{{userprofile.name|title}} has not saved any notes yet!{%endif%}</li>
    {%endfor%}
    </ol>
</div>
<div id='saved_notes'>
    <h3 class='georgia leftalign'>Saved Notes&nbsp;&nbsp;<span class="tooltip help" title="These Notes tell more about me">&nbsp;&nbsp;&nbsp;&nbsp;</span>{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%absurl notepad%}">Add Note ?</a></span>{%endif%}</h3>
    <ol class='webresume_section emboss'>
    {%for note in public_notes%}
    <li>
        <a class='file_link' target='_blank' href="{%absurl show_note note_id=note.id%}">{{note.name|capfirst}}</a>&nbsp;&nbsp;<span class="spanlink tooltip" title="View Full Content" onClick="javascript:$('#{{note.id}}_note_desc').slideToggle();">[+]</span>
        <div class='hide full_description' id="{{note.id}}_note_desc">{{note.note}}</div>
    </li>
    {%empty%}
    <li>{{userprofile.name|title}} has not saved any notes yet!</li>
    {%endfor%}
    </ol>
</div><!-- end of saved_notes -->
<div id='achievements'>
<h3 class='georgia leftalign'>Achievements&nbsp;&nbsp;<span class="tooltip help" title="These Achievements make me unique">&nbsp;&nbsp;&nbsp;&nbsp;</span>{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%absurl add_achievement%}">Add Achievement ?</a></span>{%endif%}</h3>
{%if achievements%}
    <ul class='webresume_section emboss'>
    {%for achievement in achievements%}
    <li>
        <h6>{{achievement.title|title}}&nbsp;&nbsp;<span class='spanlink tooltip' title="View Full Description" onClick="javascript:$('#{{achievement.id}}_achievement_desc').slideToggle();">[+]</span></h6>
        <div class='hide full_description' id="{{achievement.id}}_achievement_desc">{{achievement.description}}</div>
    </li>
    {%endfor%}
    </ul>
{%else%}
    <ul class='webresume_section emboss'><li>{{userprofile.name|title}} didn't have any achievements yet!</li></ul>
{%endif%}
</div><!-- end of achievements -->
<div id='asked_questions'>
<h3 class='georgia leftalign'>Asked Questions&nbsp;&nbsp;<span class="tooltip help" title="These Questions show my strong interest in respective areas">&nbsp;&nbsp;&nbsp;&nbsp;</span>{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%absurl ask_question%}">Ask Question ?</a></span>{%endif%}</h3>
{%if asked_questions%}
    <ul class='webresume_section emboss'>
    {%for question in asked_questions%}
    <li><a href="{%absurl question question.id question.slug%}" target='_blank'>{{question.title|title}}</a></li>
    {%endfor%}
    </ul>
{%else%}
    <ul class='webresume_section emboss'><li>{{userprofile.name|title}} didn't ask any questions yet!</li></ul>
{%endif%}
</div><!-- end of asked_questions -->
<div id='answered_questions'>
<h3 class='georgia leftalign'>Answers Given For&nbsp;&nbsp;<span class="tooltip help" title="These Answers show that I am ready to help">&nbsp;&nbsp;&nbsp;&nbsp;</span>{%if can_edit%}<span class='right widget_toplinks rightalign'><a href="{%absurl all_questions%}">Give Answer ?</a></span>{%endif%}</h3>
{%if answered_questions%}
    <ul class='webresume_section emboss'>
    {%for question in answered_questions%}
    <li><a href="{%absurl question question.id question.slug%}" target='_blank'>{{question.title|title}}</a></li>
    {%endfor%}
    </ul>
{%else%}
    <ul class='webresume_section emboss'><li>{{userprofile.name|title}} didn't answer for any questions yet!</li></ul>
{%endif%}
</div><!-- end of answered_questions -->
{%endblock%}
