AuthUserFile /home/madhavbnk/.htpasswd
AuthName "Development Preview"
AuthType Basic
require valid-user

# Hide files starting with a dot (.htaccess and .htpasswd in particular)
<Files .*>
order allow,deny
deny from all
</Files>