{%extends 'doublepane_base.html'%}
{%block title%}All Questions{%endblock%}
{%block questionstab%}activetab{%endblock%}
{%block feature_usage%}
<h3>Questions is a Bank of Questions and Answers. Here you can&nbsp;:</h3>
<ul>
    <li>Clearly know about things you are facing difficulty in understanding from the text book.</li>
    <li>Get opinions about you topic of interest from Industry Experts</li>
    {%if userprofile.is_student%}
    <li>If you are a Senior student, You can help out juniors by advising on the questions they raised</li>
    {%endif%} 
</ul>
{%endblock%}
{%block maincontent%}
<h2 class='georgia maincontent_header blue_underline'>All {%if tag%}{{tag.name|title}} {%endif%}Questions</h2>
{%for question in questions%}
<h3><a href="{%url question question.id question.slug%}" target='_blank'>{{question.title}}</a></h3>
{%endfor%}
{%endblock%}
{%block sidebar%}
<input type='button' name='submit' value="Ask a Question" onClick='javascript:document.location.href="{%url ask_question%}"'/>
<br/><br/><br/>
<ul id='stats' class='board emboss'>
<li><a href="{%url colleges%}" target='_blank'>{{stats.colleges_count}} Colleges</a></li>
<li>{{stats.students_count}} Students</li>
<li><a href="{%url companies%}" target='_blank'>{{stats.companies_count}} Companies</a></li>
<li>{{stats.employees_count}} Employees</li>
</ul>
<h4 class='georgia'>Joined Stud2.0 till now</h4>
{%endblock%}