{%extends 'doublepane_base.html'%}
{%block title%}All Questions{%endblock%}
{%block questionstab%}activetab{%endblock%}
{%block feature_usage%}
<h3>Questions is a Bank of Questions and Answers. Here you can&nbsp;:</h3>
<ul>
    <li>Clearly know about things you are facing difficulty in understanding from the text book.</li>
    <li>Get opinions about you topic of interest from Industry Experts</li>
    {%if userprofile.is_student%}
    <li>If you are a Senior student, You can help out juniors by advising on the questions they raised</li>
    {%endif%} 
    <li>Ask a Question Gets you 3 points</li>
    <li>Answering a Question Gets you 5 points</li>
</ul>
{%endblock%}
{%block maincontent%}
<h2 class='georgia maincontent_header blue_underline'>All {%if tag%}{{tag.name|title}} {%endif%}Questions</h2>
{%for question in questions%}
<h3><a href="{%url question question.id question.slug%}" target='_blank'>{{question.title}}</a></h3>
{%endfor%}
{%endblock%}
{%block sidebar%}
<input id="ask_question_button" type='button' name='submit' value="Ask a Question" onClick='javascript:document.location.href="{%url ask_question%}"'/>
<br/>
<br/>
<br/>
<h3 class='special_blue'>Browse by Tag</h3>
<div id='all_tags_widget'>
<ul>
{%for tag in all_tags%}
	<li><a class="tag" title="Browse {{tag.name|title}} Questions" href="{%url tagged_questions tag_name=tag.name%}">{{tag.name}}</a></li>
{%endfor%}
</ul>
</div>
{%endblock%}
