{%extends 'singlepane_base.html'%}
{%block title%}Ask a Question{%endblock%}
{%block content%}
<div class='prepend-6'>
    <form action="{%url ask_question%}" method='POST'>{% csrf_token %}
    <table class='form-table'>
        <tr><td class='rightalign'><label for="id_title">Question :</label></td><td class='leftalign'>{{form.title}}<span class='help_text'>(<span class='required'>Required</span>. Max of 80 characters)</span><br/>{{form.title.errors}}</td></tr>
        <tr><td class='rightalign'><label for="id_description">Description :</label></td><td class='leftalign'>{{form.description}}<span class='help_text'>(<span class='required'>Required</span>. Max of 1000 characters)</span><br/>{{form.description.errors}}</td></tr>
        <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="Submit Question"/></td></tr>
    </table>
    </form>
</div>
{%endblock%}
{%block extrajs%}<script type='text/javascript'>document.forms[0].title.focus();</script>{%endblock%}