{%extends 'doublepane_base.html'%}
{%block title%}{%if question%}Edit{%else%}Ask{%endif%} a Question{%endblock%}
{%block feature_usage%}
<h3>Benifits of asking a Question:</h3>
<ul>
    <li>Let your Senior or an Industry Expert help you in solving a problem</li>
    <li>Show your skills by asking questions on topics you know</li>
</ul>
{%endblock%}
{%block maincontent%}
<h3 class='georgia maincontent_header'>{%if question%}Edit{%else%}Ask{%endif%} a Question</h3>
<form action="{%if question%}{%url edit_question question.id question.slug%}{%else%}{%url ask_question%}{%endif%}" method='POST'>{% csrf_token %}
<table class='form-table'>
    <tr><td class='rightalign'><label for="id_title">Question :</label></td><td class='leftalign'>{{form.title}}<span class='help_text'>(<span class='required'>Required</span>. Max of 80 characters)</span><br/>{{form.title.errors}}</td></tr>
    <tr><td class='rightalign'><label for="id_description">Description :</label></td><td class='leftalign'>{{form.description}}<br/><span class='help_text'>(<span class='required'>Required</span>. Max of 1000 characters)</span>&nbsp;&nbsp;<span id='status_meter_id' class='small_text'></span><br/>{{form.description.errors}}</td></tr>
    <tr><td class='rightalign'><label for="id_tags">Tags</label></td><td class='form-row'>{{form.tags}}<span class='help_text'>(<span class='required'>Required</span>. Mention multiple tags separated by commas. Avoid spaces in tags.)</span>{{form.tags.errors}}</td></tr>
    <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="{%if question%}Save{%else%}Submit{%endif%} Question"/></td></tr>
</table>
</form>
{%endblock%}
{%block sidebar%}
{%if question%}
    <h4 class='georgia widget_header'>Your previous questions</h4>
    {%if previous_questions%}
        <ul>
        {%for pquestion in previous_questions%}
        <li><a href="{%url question pquestion.id pquestion.slug%}" target='_blank'>{{pquestion.title|truncatewords:3}}</a></li>
        {%endfor%}
        </ul>
    {%else%}
        No other Questions asked yet!
    {%endif%}
{%else%}
    <h4 class='georgia widget_header'>Your previous questions</h4>
    {%if asked_questions%}
        <ul>
        {%for pquestion in asked_questions%}
        <li><a href="{%url question pquestion.id pquestion.slug%}" target='_blank'>{{pquestion.title|truncatewords:3}}</a></li>
        {%endfor%}
        </ul>
    {%else%}
        No Questions asked yet!
    {%endif%}
{%endif%}
{%endblock%}
{%block extrajs%}
<script type='text/javascript'>
document.forms[0].title.focus();
$('#id_description').keyup(function(e){
    charCounter({{form.fields.description.max_length}}, 'id_description', 'status_meter_id');
});
</script>
{%endblock%}