{%extends 'singlepane_base.html'%}
{%block title%}{{question.title}}{%endblock%}
{%block content%}
<h2><a href="{%url question question.id question.slug%}" target='_blank'>{{question.title}}</a></h2>
<div id='question_description'>{%autoescape off%}{{question.description}}{%endautoescape%}</div>
<div id='question_action_links'>
<a title="Link to this question" href="{%url question question.id question.slug%}">Link</a>&nbsp;&nbsp;{%if userprofile.id == question.owner.id%}|&nbsp;&nbsp;<a title="Edit this question" href="{%url edit_question question.id question.slug%}">Edit</a>&nbsp;&nbsp;{%endif%}|&nbsp;&nbsp;<a title="Email this question to other people" href="{%url email_question question.id question.slug%}">Email</a>
<br/><span id='tags_header'>Tags:</span>{%for tag in question.tags.all%}
<a title="Browse {{tag.name|title}} snippets" href="{%url tagged_questions tag_name=tag.name%}"><span class="tag">{{tag.name}}</span></a>&nbsp;&nbsp;
{%endfor%}
<br/>
</div>
<span class='small_text'>Posted by {%with question.raised_by as raised_by%}<a href="{%url user_profile raised_by.id raised_by.slug%}">{{raised_by.name|title}}</a>{%endwith%} on {{question.modified_on|date:"dS M Y g:i A"}}</span>
    {%if not question.closed and userprofile.id == question.owner.id %}
        <br/><input type='button' onClick='javascript:close_answering("{{question.id}}")' value='Close Answering' name='close_answering'/>    
    {%endif%}
    {%include 'existing_answers.html'%}
<div id='give_answer_section'>
    {%include 'give_answer.html'%}
</div><!-- end of give_answer_section -->
{%endblock%}
{%block extrajs%}
<script type='text/javascript' src='/site_media/js/questions.js'></script>
{%endblock%}