{%extends 'doublepane_base.html'%}
{%block title%}{{question.title}}{%endblock%}
{%block questionstab%}activetab{%endblock%}
{%block content%}
{%load users_tags%}
<div id='question_body' class='span18 column'>
<h2><a href="{%url question question.id question.slug%}">{{question.title}}</a></h2>

<div id='question_description'>{%autoescape off%}{{question.description}}{%endautoescape%}</div>
<div id='question_action_links'>

<span class='small_text'>Posted by {%with question.raised_by as raised_by%}{%render_user_domain raised_by %}{%endwith%} on {{question.modified_on|date:"dS F Y"}}</span>
{%with question.tags as tags %}
{%if tags.count%}
	<span class='small_text'> in </span>&nbsp;&nbsp;{%for tag in tags.all%}
	<a class="tag" title="Browse {{tag.name|title}} Questions" href="{%url tagged_questions tag_name=tag.name%}">{{tag.name}}</a>
	{%endfor%}
{%endif%}
{%endwith%}
<br/>
</div>
    {%if not question.closed and userprofile.id == question.owner.id %}
        <br/><input class='btn primary' type='button' onClick='javascript:close_answering("{{question.id}}")' value='Close Answering' name='close_answering'/>    
    {%endif%}
    {%include 'existing_answers.html'%}
<div id='give_answer_section'>
    {%include 'give_answer.html'%}
</div><!-- end of give_answer_section -->
</div>
{%endblock%}
{%block sidebar%}
<h3>Share</h3>
<!-- AddThis Button BEGIN -->
<div id="share_question_links" class="addthis_toolbox addthis_default_style ">
&nbsp;&nbsp;|&nbsp;&nbsp;<a title="Link to this question" href="{%url question question.id question.slug%}">Link</a>&nbsp;&nbsp;
{%if userprofile.id == question.owner.id%}|&nbsp;&nbsp;<a title="Edit this question" href="{%url edit_question question.id question.slug%}">Edit</a>&nbsp;&nbsp;{%endif%}
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=madhavbnk" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
</div>
<!-- AddThis Button END -->
{%endblock%}
{%block extrajs%}
<script type='text/javascript' src='/site_media/js/questions.js'></script>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=madhavbnk"></script>
<script type="text/javascript">
$('#id_description').keyup(function(e){
    charCounter({{give_answer_form.fields.description.max_length}}, 'id_description', 'status_meter_id');
});
</script>
{%endblock%}
