<div id='achievements_icon' class='tour_bigicon left'>
</div><!-- end of achievements_icon -->
<h2 class='tour_bigheader centeralign'>Achievements tell the world what <span
        class='orange_underline'>you are capable of</span></h2>
<div class='clear'></div>
<hr class='separate_ruler'/>
<h3 class='tour_subheader'>Tell about all your accomplished Projects</h3>
    <div id='add_note_image' class='right rightalign'>
    </div>
    <ul class='tour_points'>
        <li>Blah Blah Blah</li>
    </ul>    
<br/>
<h3 class='tour_subheader'>Boost your resume with real Achievements</h3>
<ul class='tour_points'>
    <li>Blah Blah Blah</li>
</ul>    
