<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} - Stud2.0</title>
{%block css%}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/blueprint/liquid.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/master.css" />
<!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/site_media/js/jquery/plugins/tooltip/tipsy-1.0.0-a/src/stylesheets/tipsy.css" type="text/css" />
{%endblock%}
{%block extrastyle%}
{%endblock%}
</head>
<body>
    <div id="container" class='container'>
        <div id='header' class='column span-24 last'>
            {%block messages%}
                {% if messages %}
                    <ul class="messages span-24 last">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{%autoescape off%}{{ message }}{%endautoescape%}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {%endblock%}
            {%block header%}
                {%include 'header.html'%}        
            {%endblock%}
        </div><!-- end of header -->
        <div id='maintabs' class='column span-24 last'>
	        <ul class='main_tabs'>
				<li class='{%block hometab%}{%endblock%} roundcorner'><a href='{%url homepage%}'>Home</a></li>
				<li class='{%block notepadtab%}{%endblock%} roundcorner'><a href="{%url notepad%}">Notepad</a></li>
				<li class='{%block achievementstab%}{%endblock%} roundcorner'><a href='{%url achievements%}'>Achievements</a></li>
				<li class='{%block questionstab%}{%endblock%} roundcorner'><a href="{%url all_questions%}">Questions</a></li>
				<li class='{%block webresumetab%}{%endblock%} roundcorner'><a href="{%url webresume%}">Web Resume</a></li>
			</ul>        
        </div><!-- end of maintabs -->
        <hr class='special_blue'/>
        <div id='content' class='column span-24 prepend-top append-bottom last'>
            <div id='ajax_status_header'></div>
            <div class='feature_usage prepend-top box'>
            <div id='close' onClick='javascript:$(".feature_usage").fadeOut();' class='right' title="Hide this Help">&nbsp;&nbsp;</div>
            {%block feature_usage%}
            {%endblock%}
            </div><!-- end of feature_usage -->
            <div class='maincontent column span-16'>
            {%block maincontent%}
            {%endblock%}
            </div><!-- end of maincontent -->
            <div class='sidebar column span-6 last'>
            {%block sidebar%}
            {%endblock%}
            </div><!-- end of sidebar -->
        </div><!-- end of content -->
        <div id='footer' class='column span-24 last'>
            {%block footer%}
                {%include 'footer.html'%}            
            {%endblock%}
        </div><!-- end of footer -->
    </div><!-- end of container -->
    {%if debug%}
    <script type='text/javascript' src='/site_media/js/jquery/jquery-1.6.min.js'></script>
    {%else%}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
    {%endif%}
    <script type='text/javascript' src='/site_media/js/common.js'></script>
    <script type='text/javascript'>if($('.messages')){$('.messages').fadeOut(8000);}</script>
    <script type='text/javascript' src='/site_media/js/jquery/plugins/tooltip/tipsy-1.0.0-a/src/javascripts/jquery.tipsy.js'></script>
    <script type='text/javascript'>
	    $(function(){tooltip_icons = $('.tooltip').tipsy({title:'title', gravity:'s'});});
	</script>
    {%block extrajs%}{%endblock%}
    {%block google-analytics%}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22325032-1']);
      _gaq.push(['_setDomainName', '.stud2dotoh.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {%endblock%}
</body>
</html>