{%extends 'singlepane_base.html'%}
{% block title %}Home{% endblock %}
{%block hometab%}activetab{%endblock%}
{%block content%}
{%if user.is_authenticated%}
{%include 'dashboard.html'%}
{%else%}
<h1 id='vision_banner'>Bridging the Gap between <span class='orange_underline'>Industry and Academics</span><br/>&<br/>Making Student's Education system <span class='orange_underline'>open & supportive</span></h1>
<div id='slideshow' class='span-24'>
	<div id="slides" class='prepend-1 span-22'>
	    <a href="#" class="prev"><img src="/site_media/img/slideshow_pix/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
	    <div class="slides_container">
	        <div>
	           <div class='span-12 slideshow_content_area'>
		           <h1>Notepad</h1>
		           <h4>
		               <ul>
		                   <li>You can quickly save something, and keep it private also.</li>
		                   <li>You can store your class assignments online. Also you can share your work with the world with this</li>
		                   <li>You can write an article about an interesting topic and share it with your friends, collegues, world</li>
		               </ul>
		           </h4>
	           </div><!-- end of slideshow_content_area -->
	           <div class='span-10 slideshow_pic_area'>
	               <a href="{%url notepad%}" title="Notepad Page" target="_blank"><img src="/site_media/img/slideshow_pix/notepad.png" alt="Notepad Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	        <div>
	           <div class='span-12 slideshow_content_area'>
	               <h1>Questions & Answers</h1>
	               <h4>
	                   <ul>
	                       <li>Clearly know about things you are facing difficulty in understanding from the text book.</li>
	                       <li>Get opinions about you topic of interest from Industry Experts</li>
	                       <li>If you are a Senior student, You can help out juniors by advising on the questions he/she raised</li>
	                   </ul>
	               </h4>
               </div><!-- end of slideshow_content_area -->
               <div class='span-10 slideshow_pic_area'>
                   <a href="{%url all_questions%}" title="Questions Page" target="_blank"><img src="/site_media/img/slideshow_pix/all_questions.png" alt="Questions Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	        <div>
	           <div class='span-12 slideshow_content_area'>
	               <h1>Web Resume</h1>
	               <h4>
	                   <ul>
	                       <li>Web Resume aggregates all your activity from the system and Helps any Company/Industry person in getting a Multi-Dimensional view of your skills.</li>
	                       <li>If you are a final year Student, A Recruiter/Company person can easily select you as he/she has ready view of your accomplishments</li>
	                       <li>As this is an Online Resume, You can pass it along to any body at zero cost and Your Resume/CV is searchable Globally</li>
	                   </ul>
	               </h4>
               </div><!-- end of slideshow_content_area -->
               <div class='span-10 slideshow_pic_area'>
                   <a href="{%url webresume%}" title="Web Resume Page" target="_blank"><img src="/site_media/img/slideshow_pix/web_resume.png" alt="Web Resume Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	    </div>
	    <a href="#" class="next"><img src="/site_media/img/slideshow_pix/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
	</div><!-- end of slides -->
</div><!-- end of slideshow -->
{%endif%}
{%endblock%}
{%block extrajs%}
<script type='text/javascript' src="/site_media/js/jquery/plugins/slideshow/slides.min.jquery.js"></script>
<script type="text/javascript">
$(function(){
            $('#slides').slides({
                preload: true,
                preloadImage: '/site_media/img/slideshow_pix/loading.gif',
                effect:'fade',
                play: 3000,
                pause: 3000,
                hoverPause: true
            });
        });
</script>
{%endblock%}
{%block extrastyle%}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/js/jquery/plugins/slideshow/nivo-slider.css" />
{%endblock%}