{%extends 'singlepane_base.html'%}
{% block title %}Home{% endblock %}
{%block hometab%}activetab{%endblock%}
{%block content%}
{%if user.is_authenticated%}
{%include 'dashboard.html'%}
{%else%}
<h1 class='vision_banner'>Making Students&nbsp;<span class='required'>&#8220;</span>Ready for Industry<span class='required'>&#8221;</span></h1>
<h3 class="vision_banner">This is how!</h3>
<div id='slideshow' class='column span-24 append-top append-bottom'>
	<div id="slides" class='column prepend-1 span-22'>
	    <a href="#" class="prev"><img src="/site_media/img/slideshow_pix/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
	    <div class="slides_container">
	        <div>
	           <div class='column span-12 slideshow_content_area'>
		           <h1>Notepad</h1>
		           <ul>
		              <li>Save Something very quickly</li>
		              <li>Store any assignment <span class='orange_underline'>online</span></li>
		              <li>Use it to write an article/blog/thesis-paper</li>
		           </ul>
		           <a href="{%url register%}"><img src="/site_media/img/join_us.png" alt='Join Us'/></a>
	           </div><!-- end of slideshow_content_area -->
	           <div class='column span-10 slideshow_pic_area'>
	               <a href="{%url notepad%}" title="Notepad Page" target="_blank"><img src="/site_media/img/slideshow_pix/notepad_450x291.png" alt="Notepad Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	        <div>
               <div class='column span-12 slideshow_content_area'>
                   <h1>Achievements</h1>
                   <ul>
                      <li>Show off your talents</li>
                      <li>Explain the <span class='orange_underline'>Projects</span> you have done</li>
                      <li>Attract anybody with your <span class='orange_underline'>unique Persona</span></li>
                   </ul>
                   <a href="{%url register%}"><img src="/site_media/img/join_us.png" alt='Join Us'/></a>
               </div><!-- end of slideshow_content_area -->
               <div class='column span-10 slideshow_pic_area'>
                   <a href="{%url achievements%}" title="Achievements Page" target="_blank"><img src="/site_media/img/slideshow_pix/achievements_450x141.png" alt="Achievements Page"/></a>
               </div><!-- end of slideshow_pic_area -->
            </div>
	        <div>
	           <div class='column span-12 slideshow_content_area'>
	               <h1>Questions &amp; Answers</h1>
                   <ul>
                      <li>Ask a Question</li>
                      <li>Get <span class='orange_underline'>Industry Experts</span> help you</li>
                      <li>College <span class='orange_underline'>Seniors</span> can help their <span class='orange_underline'>juniors</span></li>
                   </ul>
                   <a href="{%url register%}"><img src="/site_media/img/join_us.png" alt='Join Us'/></a>
               </div><!-- end of slideshow_content_area -->
               <div class='column span-10 slideshow_pic_area'>
                   <a href="{%url all_questions%}" title="Questions Page" target="_blank"><img src="/site_media/img/slideshow_pix/questions_450x239.png" alt="Questions Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	        <div>
	           <div class='column span-12 slideshow_content_area'>
	               <h1>Web Resume</h1>
                   <ul>
                      <li>Multi-Dimensional view of your skills</li>
                      <li><span class='orange_underline'>Online</span> and Impressive</li>
                      <li><span class='orange_underline'>Zero Cost</span>. Searchable globally</li>
                   </ul>
                   <a href="{%url register%}"><img src="/site_media/img/join_us.png" alt='Join Us'/></a>
               </div><!-- end of slideshow_content_area -->
               <div class='column span-10 slideshow_pic_area'>
                   <a href="{%url webresume%}" title="Web Resume Page" target="_blank"><img src="/site_media/img/slideshow_pix/webresume_450x305.png" alt="Web Resume Page"/></a>
               </div><!-- end of slideshow_pic_area -->
	        </div>
	    </div>
	    <a href="#" class="next"><img src="/site_media/img/slideshow_pix/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
	</div><!-- end of slides -->
</div><!-- end of slideshow -->
{%endif%}
{%endblock%}
{%block extrajs%}
<script type='text/javascript' src="/site_media/js/jquery/plugins/slideshow/slides.min.jquery.js"></script>
<script type="text/javascript">
$(function(){
            $('#slides').slides({
                preload: true,
                preloadImage: '/site_media/img/slideshow_pix/loading.gif',
                effect:'fade',
                play: 3000,
                pause: 3000,
                hoverPause: true
            });
        });
</script>
{%endblock%}
