<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Home{% endblock %} - Stud2.0</title>
{%block css%}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/blueprint/liquid.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/master.css" />
<!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/site_media/js/jquery/plugins/tooltip/tipsy-1.0.0-a/src/stylesheets/tipsy.css" type="text/css" />
<link href="/site_media/js/jquery/plugins/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
{%endblock%}
{%block extrastyle%}
{%endblock%}
</head>
<body>
    <div id="container" class='container'>
        <div id='header' class='column span-24 last'>
            {%block messages%}
                {% if messages %}
                    <ul class="messages span-24 last">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{%autoescape off%}{{ message }}{%endautoescape%}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {%endblock%}
            {%block header%}
                {%include 'header.html'%} 
            {%endblock%}
        </div><!-- end of header -->
        <div id='content' class='column span-24 lightblue_background white_border'>
            <div class='inner'>
                <div id='ajax_status_header'></div>
                <div id='main_banner' class='column span-10'>
                    <h1 class='droid'>Learn Socially.<br/>Show Globally.</h1>
                    <h4><span class='bold'>Stud2.0</span> is a platform intended to bridge the gap between Engineering Academia and Industry by providing tools which enhance a Student's skills, and opening up those skills in Multiple-Dimensions, to "the world"</h4>
                    {%if not user.is_authenticated%}
                    <button class='signup_button' onClick="javascript:document.location.href='{%url register%}'">Sign Up</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    {%endif%}
                </div><!-- end of main_banner -->
                <div id='main_graphic' class='column span-13 last showgrid'></div><!-- end of main_graphic -->
            </div><!-- end of inner -->
            {% load webdesign %}
            <div id='feature_tour' class='column span-24'>
                <div class='inner'>
                    <h2>Feature Tour</h2>
                    <div class='feature_block column span-6'>
                        <div id='notepad_thumbnail' class='thumbnail'>
                            <a rel="facebox" href="/site_media/img/zoom/notepad_750X430.png">Zoom</a>
                        </div>
                        <h4>Notepad</h4>
                        <span class='feature_description'>
                           <ul>
                               <li>Store anything quickly. Like assignments or articles</li>
                               <li>Notes can be made private</li>
                               <li>Share your notes online. Let anybody discover your writing skills</li>
                           </ul>
                        </span>
                    </div><!--end of notepad -->
                    <div class='feature_block column span-6'>
                        <div id='achievements_thumbnail' class='thumbnail'>
                            <a rel="facebox" href="/site_media/img/zoom/achievements_750X430.png">Zoom</a>
                        </div>
                        <h4>Achievements</h4>
                        <span class='feature_description'>
                           <ul>
                               <li>Tell the world about the Projects you completed </li>
                               <li>Show off the awards you won</li>
                               <li>Any Achievement you submit, gets you 5 points</li>
                           </ul>
                        </span>
                    </div><!--end of achievements-->
                    <div class='feature_block column span-6'>
                        <div id='questions_thumbnail' class='thumbnail'>
                            <a rel="facebox" href="/site_media/img/zoom/questions_750X430.png">Zoom</a>
                        </div>
                        <h4>Questions</h4>
                        <span class='feature_description'>
                           <ul>
                               <li>Let your Senior or an Industry Expert help you in solving a
                               problem</li>
                               <li>Show your skills by asking questions on topics you know</li>
                               <li>Asking a Question Gets you 3 points</li>
                           </ul>
                        </span>
                    </div><!--end of questions-->
                    <div class='feature_block column span-6 last'>
                        <div id='webresume_thumbnail' class='thumbnail'>
                            <a rel="facebox" href="/site_media/img/zoom/webresume_460X500.png">Zoom</a>
                        </div>
                        <h4>Web-Resume</h4>
                        <span class='feature_description'>
                           <ul>
                               <li>Word Resume is long gone. Your Resume is online now</li>
                               <li>Continuously updated with your activity on the site</li>
                               <li>Any Web-Resume focuses on your most-revealing skills</li>
                           </ul>
                        </span>
                    </div><!--end of webresume-->
                </div><!-- end of inner -->
            </div><!-- end of feature_tour-->
        </div><!-- end of content -->
        <div id='footer' class='column span-24 last'>
            {%block footer%}
                {%include 'footer.html'%}            
            {%endblock%}
        </div><!-- end of footer -->
    </div><!-- end of container -->
    {%if debug%}
    <script type='text/javascript' src='/site_media/js/jquery/jquery-1.6.min.js'></script>
    {%else%}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
    {%endif%}
    <script type='text/javascript' src='/site_media/js/common.js'></script>
    <script type='text/javascript'>if($('.messages')){$('.messages').fadeOut(8000);}</script>
    <script type='text/javascript' src='/site_media/js/jquery/plugins/tooltip/tipsy-1.0.0-a/src/javascripts/jquery.tipsy.js'></script>
    <script type='text/javascript'>
	    $(function(){
	       tooltip_icons = $('.tooltip').tipsy({title:'title', gravity:'s',fade:true});
           $('#id_slug').tipsy({trigger:'focus', title:'title', gravity:'n'});
           $('form').submit(function(){
               submit_button = $('input[type=submit]')[0];
               submit_button.value = 'Please Wait...';
               submit_button.disabled = true;
               return true;
               });
	    });
	</script>
    {%block extrajs%}
    <script src="/site_media/js/jquery/plugins/facebox/facebox.js" type="text/javascript"></script>
    <script type='text/javascript'>
    $(document).ready(function($) {
      $('a[rel*=facebox]').facebox()
      $('#feature_tour').effect("highlight");
    }) 
	</script>
    {%endblock%}
    {%block google-analytics%}
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22325032-1']);
	  _gaq.push(['_setDomainName', '.stud2dotoh.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    {%endblock%}
</body>
</html>
