<div id='notepad_icon' class='tour_bigicon left'>
</div><!-- end of notepad_icon -->
<h2 class='tour_bigheader centeralign'>Notepad is a Quick way to Save anything <span
        class='orange_underline'>online</span> quickly</h2>
<div class='clear'></div>
<hr class='separate_ruler'/>
<h3 class='tour_subheader'>Save anything</h3>
    <div id='add_note_image' class='right rightalign'>
    </div>
    <ul class='tour_points'>
        <li>College Assignment(for Students)</li>
        <li>Lab Programs(for Students)</li>
        <li>Thesis Paper Notes(for Students)</li>
        <li>Any content which you want to Bookmark</li>
        <li>Thesis Paper Notes(for Students)</li>
    </ul>    
<br/>
<h3 class='tour_subheader'>Share &amp; Benifit</h3>
<ul class='tour_points'>
    <li>Impress anyone looking at your Resume with your Notes</li>
    <li>Lets the world know what you know</li>
    <li>Every Note saved gets you 3 points</li>
</ul>    
