<div id='qanda_icon' class='tour_bigicon left'>
</div><!-- end of qanda_icon -->
<h2 class='tour_bigheader centeralign'>Questions & Answers help you <br/><span
        class='orange_underline'>get clarified and share knowledge</span></h2>
<div class='clear'></div>
<hr class='separate_ruler'/>
<h3 class='tour_subheader'>Ask a Question and get clarified</h3>
<div id='ask_question_image' class='right rightalign'>
</div>
<ul class='tour_points'>
    <li>Blah Blah Blah</li>
</ul>    
<br/>
<h3 class='tour_subheader'>Answer a Questin and share support</h3>
<div id='ask_question_image' class='right rightalign'>
</div>
<ul class='tour_points'>
    <li>Blah Blah Blah</li>
</ul>    
