<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} - Stud2.0</title>
{%block css%}
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/blueprint/screen.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/site_media/css/master.css" />
<!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
{%endblock%}
{%block extrastyle%}
{%endblock%}
</head>
<body>
    <div id="container" class='container'>
        <div id='header' class='column span-24 last'>
            {%block header%}
                {%include 'header.html'%}        
            {%endblock%}
        </div><!-- end of header -->
        {%block maintabs%}
            {%include 'tabs.html'%}        
        {%endblock%}
        <div id='content' class='column span-24 last'>
            <div id='ajax_status_header'></div>
            {%block messages%}
	            {% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{%autoescape off%}{{ message }}{%endautoescape%}</li>
					    {% endfor %}
					</ul>
				{% endif %}
            {%endblock%}
            {%block content%}
            {%endblock%}
        </div><!-- end of content -->
        <div id='footer' class='column span-24 last'>
            {%block footer%}
                {%include 'footer.html'%}            
            {%endblock%}
        </div><!-- end of footer -->
    </div><!-- end of container -->
    <script type='text/javascript' src='/site_media/js/jquery/jquery-1.4.3.min.js'></script>
    <script type='text/javascript' src='/site_media/js/common.js'></script>
    <script type='text/javascript'>if($('.messages')){$('.messages').fadeOut(6000);}</script>
    {%block extrajs%}{%endblock%}
</body>
</html>