<div id='webresume_icon' class='tour_bigicon left'>
</div><!-- end of webresume_icon -->
<h2 class='tour_bigheader centeralign'>Web-Resume <span
        class='orange_underline'>gives you a Multi-Dimensional view of your
        skillset. And not just your projects</span></h2>
<div class='clear'></div>
<hr class='separate_ruler'/>
<h3 class='tour_subheader'>Web-Resume Aggregates all your activity across the
    site</h3>
<div id='webresume_aggregate_image' class='right rightalign'>
</div>
<ul class='tour_points'>
    <li>Blah Blah Blah</li>
</ul>    
<br/>
<h3 class='tour_subheader'>Your two page Word Doc Resume is very outdated.
    Upgrade your career with our Web-Resume</h3>
<div id='webresume_aggregate_image' class='right rightalign'>
</div>
<ul class='tour_points'>
    <li>Blah Blah Blah</li>
</ul>    
