.content{padding-top:60px;}
.topbar-menus{font-size:16px;}
.topbar-menus > li{padding-left:30px;}
a#logo{font-size:24px;}
#lefttopbar > li{padding-left:30px;}
#righttopbar > li{padding-left:10px;}
textarea{width:610px;height:150px;}
.dropdown-menu{font-size:90%;}
.center{text-align:center;}

/*Homepage*/
#homepage_task{margin-bottom:2em;}
